<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>粗错了</title>
    <style>
        .error{
            width: 600px;
            height: 400px;
            background: #cccccc;
            margin: 200px auto;
            text-align: center;
            line-height: 400px;
        }
    </style>
</head>
<body>
    <div class="error">
        <%=message%>
    </div>
</body>
</html>